Makefile
Makefile.in
autom4te.cache/
bin/Makefile
bin/Makefile.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/acronyms.aux
doc/include_src_src.tex
doc/mproof.dvi
doc/mproof.log
doc/ttpd_documentation.aux
doc/ttpd_documentation.bbl
doc/ttpd_documentation.blg
doc/ttpd_documentation.ddx
doc/ttpd_documentation.idx
doc/ttpd_documentation.ilg
doc/ttpd_documentation.ind
doc/ttpd_documentation.ito
doc/ttpd_documentation.log
doc/ttpd_documentation.out
doc/ttpd_documentation.rid
doc/ttpd_documentation.rix
doc/ttpd_documentation.sdx
doc/ttpd_documentation.toc
doc/ttpdarchitecture.1
doc/ttpdarchitecture.log
doc/ttpdarchitecture.mpx
doc/ttpdarchitecture.ps
doc/usage_ttpc.txt
doc/usage_ttpd.txt
doc/usage_ttpdctl.txt
etc/Makefile
etc/Makefile.in
etc/apache2/Makefile
etc/apache2/Makefile.in
etc/apache2/sites-available/Makefile
etc/apache2/sites-available/Makefile.in
etc/apache2/sites-available/busstuc.lingit.no
etc/cron.d/Makefile
etc/cron.d/Makefile.in
etc/cron.d/ttpd-sms
etc/cron.d/ttpd-web
etc/default/Makefile
etc/default/Makefile.in
etc/default/ttpd
etc/init.d/Makefile
etc/init.d/Makefile.in
etc/init.d/ttpd
etc/init.d/ttpd-orig
etc/logrotate.d/Makefile
etc/logrotate.d/Makefile.in
etc/logrotate.d/ttpd
lib/TTP/Billing.pyo
lib/TTP/Definitions.pyc
lib/TTP/Definitions.pyo
lib/TTP/LogHandler.pyc
lib/TTP/LogHandler.pyo
lib/TTP/Message.pyo
lib/TTP/Options.pyc
lib/TTP/Options.pyo
lib/TTP/__init__.pyc
lib/TTP/__init__.pyo
secretdefs.mk
setup.cfg
setup.py
src/Makefile
src/Makefile.in
src/post-install.sh
src/pre-uninstall.sh
statistics/Makefile
statistics/Makefile.in
statistics/sms/Makefile
statistics/sms/Makefile.in
statistics/sms/general_config.sh
statistics/sms/last_52_weeks.sh
statistics/sms/last_week.sh
statistics/sms/this_week.sh
statistics/sms/today.sh
statistics/web/Makefile
statistics/web/Makefile.in
statistics/web/general_config.sh
statistics/web/last_52_weeks.sh
statistics/web/last_week.sh
statistics/web/this_week.sh
statistics/web/today.sh
www/Makefile
www/Makefile.in
www/busstuc.lingit.no-team-trafikk/Makefile
www/busstuc.lingit.no-team-trafikk/Makefile.in
www/busstuc.lingit.no-team-trafikk/tuc.inc
www/busstuc.lingit.no/Makefile
www/busstuc.lingit.no/Makefile.in
www/busstuc.lingit.no/tuc.inc
