## $Id$
##
## File to be included by other Automake files.
##
## WARNING: This file is only a template and private/secret
## information should _never_ be incldued here.  Instead, make a copy:
##
##   cp secretdefs.mk.tmpl secretdefs.mk
##
## The .gitignore makes sure that the secretdefs.mk file stays ignored.
##
## Copyright (C) 2011 by Lingit AS

db_user = example_db_user
db_password = example_db_password
db_host = example_db_host
db_name = example_db_name
encryption_key = example_encryption_key
account_number = example_account_number
test_encryption_key = example_test_encryption_key
test_account_number = example_test_account_number

psw_user = example_psw_user
psw_pw = example_psw_pw
psw_snd = example_pws_snd
psw_tariff = example_psw_billing
psw_from_encoding = example_psw_from_encoding
psw_to_encoding = example_psw_to_encoding
